.Game {

    .gameNav,
    .gameFooter {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        pointer-events: auto;
        font-size: 130%;

        .userBox {
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background-size: 100% 100%;
            height: 10vh;
            width: 30vh;
            padding: 5px 10px 5px 10px;

            .userImg {
                height: 7vh;
                aspect-ratio: 1/1;
                background-color: #004200;
                border-radius: 10px;
                border: 5px solid gold;
                overflow: hidden;
                border-radius: 15px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .userData {
                text-align: center;
                .userName{
                    font-size: 4vh;
                }

                .userCards {
                    height: 4vh;
                    display: flex;

                    img {
                        height: 100%;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }

        .gameButton {
            padding: 0.5vh;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #004200;
            border: 1px solid white;
            margin: 1vh;
            border-radius: 10px;

            &:hover {
                background-color: #005900;
            }

            img {
                width: 4vh;
                aspect-ratio: 1/1;
            }
        }

        .gameLabel {
            padding: 2vh;
            display: flex;
            align-items: center;

            img {
                width: 4vh;
                aspect-ratio: 1/1;
            }
        }
    }

    .gameFooter {
        border-radius: 20px 20px 0 0;
        border: none;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 50vw;
        padding: 2px;
    }

    pointer-events: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    user-select: none;
}