.Menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    color: white;
    user-select: none;

    .menuButton {
        cursor: pointer;
        text-shadow: #fc0 1px 0 10px;
        font-size: 10vh;
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        background: linear-gradient(45deg, #004200, #009b00);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(55, 55, 55);
        box-shadow:
            0 12px 24px rgba(0, 0, 0, 0.3),
            0 -12px 24px rgba(0, 0, 0, 0.3),
            12px 0 24px rgba(0, 0, 0, 0.3),
            -12px 0 24px rgba(0, 0, 0, 0.3);

        &:hover {
            background: linear-gradient(45deg, #003000, #008200);
        }
    }

    .menuDiff {
        cursor: pointer;
        text-shadow: #fc0 1px 0 10px;
        padding: 1vh;
        border-radius: 10px;
        height: 75vh;
        width: 105vh;
        background-size: cover;
        background-position: center center;

        .boxTitle {
            width: 100%;
            text-align: center;
            font-size: 5vh;
            margin-top: 4vh;
            margin-bottom: 10vh;
        }

        .boxItems {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;
            height: 40vh;
            margin: 0 auto;
            gap: 5px;


            .btnSelect {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 7vh;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .boxUsers {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .userBox {
                width: 20%;
                aspect-ratio: 1/1;
                text-align: center;
                color: black;

                .userFrame {
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    padding: 10px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}