.Menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    color: white;
    user-select: none;

    .menuButton {
        cursor: pointer;
        text-shadow: #fc0 1px 0 10px;
        font-size: 10vh;
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        background: linear-gradient(45deg, #004200, #009b00);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(55, 55, 55);
        box-shadow:
            0 12px 24px rgba(0, 0, 0, 0.3),
            0 -12px 24px rgba(0, 0, 0, 0.3),
            12px 0 24px rgba(0, 0, 0, 0.3),
            -12px 0 24px rgba(0, 0, 0, 0.3);

        &:hover {
            background: linear-gradient(45deg, #003000, #008200);
        }
    }

    .menuDiff {
        cursor: pointer;
        text-shadow: #fc0 1px 0 10px;
        padding: 1vh;
        border-radius: 10px;
        background: linear-gradient(45deg, #004200, #009b00);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        aspect-ratio: 1/1;
        height: 80vh;
        border: 2px solid rgb(55, 55, 55);
        gap: 5px;
        box-shadow:
            0 12px 24px rgba(0, 0, 0, 0.3),
            0 -12px 24px rgba(0, 0, 0, 0.3),
            12px 0 24px rgba(0, 0, 0, 0.3),
            -12px 0 24px rgba(0, 0, 0, 0.3);

        .btnSelect {
            border-radius: 5px;
            background-color: #003000;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}